<html>
  <head>
    <title> Voice to image </title>
  </head>
  <body>
    <h1> Voice to image </h1>
    <form action='/generate' method='post'>
      <input name='song' type='text' required>
      <input type='submit'>
    </form>
  </body>
</html>