* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  text-align: center;
  font-weight: 100;
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 1em;
  text-align: center;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #f22f46;
  }

  100% {
    background-color: #fff;
  }
}
.cover {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
table {
  margin-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 60%;
}
/* table, th, td {
  border: 1px solid black;
} */
td {
  padding: 15px 70px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
#result {
  color: #666;
  font-style: italic;
  text-align: center;
}
#result .final {
  color: #0d122b;
  font-style: normal;
}
input[type=text] {
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 2px solid #f2f2f2;
}
button {
  font-size: 18px;
  font-weight: 200;
  padding: 10px 1em;
  background: transparent;
  border: 2px solid #0d122b;
  border-radius: 4px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: #0d122b;
}
button:hover,
button:focus {
  background: #0d122b;
  color: #fff;
}
#start-listing {
  margin-bottom: 20px;
}
a {
  color: #0d122b;
}
.error {
  color: #f22f46;
  text-align: center;
}
.histories {
  list-style-type: none;
  text-align: center;
}
.history-img {
  height: 15px;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}